name: ci

on:
  push:
    branches:
      - "master"
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
   # GitHub Repo Name		
      GHCR_REPO:
        required: true
        type: string
   # Path to the Dockerfile. (default {context}/Dockerfile)
      docker_file_path:
        required: true
        type: string
      image_tag:
        required: true
        type: string
        default: "0"
      Packages_lock:
        type: string
        required: true
        description: "location of lock file Trivy will look for vulnerabilities based on lock files such as Gemfile.lock and package-lock.json"    
      username:
        type: string
        required: true
        description: "github username"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Event Info
      if: github.actor != 'dependabot[bot]' && !(github.event_name == 'push' || github.event_name == 'workflow_dispatch')
      run: |
          echo "::warning  ::Code changes wont be deployed for pull requests."  
    - name: Clear GitHub Workspace
      run: rm -fr $GITHUB_WORKSPACE && mkdir $GITHUB_WORKSPACE
      
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Build docker image from Dockerfile (Optional)
      run: |
           docker build -t umangcypherbh/trivyscan:latest -t umangcypherbh/trivyscan:v2.1 .
    - name: copy template file from  shared-workflows repo
      run: |
          git clone https://${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}@github.com/umangcypher-BH/pancake.git
    - name: copy the docker file to template directory
      run: |
         cp ${{ inputs.docker_file_path }}./pancake/Dockerfile ./pancake/config    
    - name: Install Trivy CLI
      run: |
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin v0.31.3
          
    - name: downloading  vulnerability  database
      run: |
          /usr/local/bin/trivy image --download-db-only
    - name: Run Trivy  scan for Docker Image and generate html report
      run: |
          docker run  -v /var/run/docker.sock:/var/run/docker.sock aquasec/trivy:0.28.0 image umangcypherbh/trivyscan
          #/usr/local/bin/trivy image  --format template --template "@./pancake/html.tpl" --ignorefile "./pancake/.trivyignore" -o Report.html ${{ inputs.GHCR_REPO }}${{ inputs.IMAGE_NAME }}:${{ inputs.IMAGE_TAG }}
    
    - name: Run Trivy scan for filesystem and generate html report(Trivy will look for vulnerabilities based on lock files such as Gemfile.lock and package-lock.json)
      run: |
          /usr/local/bin/trivy fs --format template --template "@./pancake/html.tpl" --ignorefile "./pancake/.trivyignore" -o Report2.html ${{ inputs.Packages_lock }}
      
    -
        name: Checkout
        uses: actions/checkout@v3
    -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
    -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/trivyscan:latest
